.kg-item {
    background-color: khaki;
    border-color: rgb(246, 185, 0);
    color: rgb(246, 144, 0);;

}
.kg-span {
    font-weight: 600;
}
.buy-button {
    border-radius: 8px;
    float: right;
    width: 80px;
    background-color: rgb(244, 222, 25);
}